# https://editorconfig.org

root = true

# 表示 所有文件适用
[*]
charset = utf-8
#缩进风格(tab|space)
indent_style = space
#缩进大小
indent_size = 2
#换行类型
end_of_line = lf
#去除行首的任意空白符
insert_final_newline = true
#始终再文件末尾插入新行
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
